@model IEnumerable<JobPortalIntranetLibraryClass.modeleFluent.Candidacy>

@{
    ViewBag.Title = "My Candidacies";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Offer.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Offer.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date, "_DateDisplay")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { offerId=item.OfferId, employeId=item.EmployeId })
        </td>
    </tr>
}

</table>
