@model JobPortalIntranetLibraryClass.modeleFluent.Offer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Statut.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date, "_DateDisplay")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsible)
        </dd>

        <dt>
            Postulants
        </dt>

        @if (Model.Candidacies.Count > 0)
        {
            foreach (var candidacy in Model.Candidacies)
            {
                <dd>
                    @Html.DisplayFor(m => candidacy.Employe.Firstname)
                    @Html.DisplayFor(m => candidacy.Employe.Lastname)
                    -
                    @Html.DisplayFor(m => candidacy.Date, "_DateDisplay")
                </dd>
            }
        }
        else
        {
            <dd>Aucun employé n'a postulé</dd>
        }
    </dl>
    </div>
<p>
    <div>
        @Html.ActionLink("Edit", "Edit", "Offers", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", "Offers", new { }, new { @class = "btn btn-secondary" })

        @if (!Model.Candidacies.Any(c => c.EmployeId == 1))
        {

            using (Html.BeginForm("Create", "Candidacies", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("OfferId", Model.Id)
                @Html.Hidden("EmployeId", 1)
                @Html.Hidden("Date", DateTime.Now)
                @Html.Hidden("Status", "Postulé")

                <button type="submit" class="btn btn-success">Apply</button>
            }
        }
        else
        {
            <p>Vous avez déjà candidaté</p>
        }
    </div>
    

</p>
