@model JobPortalIntranetLibraryClass.modeleFluent.Employe

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dateofbirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dateofbirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seniority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seniority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>

        @if (Model.Experiences.Count > 0)
        {
            foreach (var experience in Model.Experiences)
            {
                <dd>
                    @Html.DisplayFor(m => experience.Title) -
                    @Html.DisplayFor(m => experience.Date, "_DateDisplay")
                </dd>
            }
        }
        else
        {
            <dd>L'employé n'a aucune expérience</dd>
        }

        <dt>
            Diplomes
        </dt>
        @if (Model.Trainings.Count > 0)
        {
            foreach (var training in Model.Trainings)
            {
                <dd>
                    @Html.DisplayFor(m => training.Title) -
                    @Html.DisplayFor(m => training.Date, "_DateDisplay")
                </dd>
            }
        }
        else
        {
            <dd>L'employé n'a aucun diplome</dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Employes", new {}, new { @class = "btn btn-secondary" })
</p>
